
@font-face {
  font-family: 'FrizQuadrataStd';
  src: url('../font/FrizQuadrataStd.eot?#iefix') format('embedded-opentype'),  url('../font/FrizQuadrataStd.otf')  format('opentype'),
	     url('../font/FrizQuadrataStd.woff') format('woff'), url('../font/FrizQuadrataStd.ttf')  format('truetype'), url('../font/FrizQuadrataStd.svg#FrizQuadrataStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
